node_modules/
.git/

# Ignorar archivos de respaldo
*.log
*.swp

# Ignorar archivos de configuración de desarrollo
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos de caché
.cache
dist/

# Ignorar archivos de IDE y editor
.vscode
.idea

# Ignorar archivos temporales
.DS_Store
Thumbs.db

Dockerfile
.dockerignore
npm-debug.log
